
.shine-button {
  font-weight: 600 !important;
  position: relative;
  overflow: hidden;
  color: #fff;
  background: linear-gradient(120deg, #4e54c8, #8f94fb) !important;
  box-shadow: 0 10px 30px rgba(6, 13, 31, 0.5) !important;
  border: none !important;
  border-radius: 8px !important;
  padding: 10px 20px !important;
  transition: all 0.4s ease;
}

.shine-button:hover {
  box-shadow: 30px rgba(99, 102, 241, 0.3) !important;
  transform: scale(1.02) !important;
}

.shine-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.09) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewY(-30deg);
  transition: left 0.8s ease;
}

.shine-button:hover::before {
  left: 125%; /* hover করলে ডানদিকে যাবে */
}

.stats-section {
  margin-top: 150px;
  margin-bottom: 150px;
}


.stats-card{
  width: 100%;
  border: 2px solid rgba(99, 102, 241, 0.6);
  box-shadow: 0 20px 20px rgba(99, 102, 241, 0.2);
  background: rgba(255, 255, 255, 0.08);
  border-radius: 20px;
  transition: all 0.4s ease-in-out;
}

.stats-card h2{
  font-size: 40px;
  font-weight: 900;
}

.stats-card p{
  font-size: 20px;
  font-weight: 600;
}

.stats-card:hover{
  background: radial-gradient(circle at 50% 50%, rgba(59, 130, 246, 0.15), transparent 70%);
  box-shadow: 0 20px 20px rgba(6, 13, 31, 0.5);
  transition: all 0.8s ease-in-out;
}
