.aurora-text {
  text-align: center;
  font-weight: 700;
  font-size: 2.8rem;
  background: linear-gradient(
    90deg,
    #765cd6,
    #FF9FFC,
    #B497CF
  );
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

