.faq-section .subtitle {
  font-size: 20px;
  margin-bottom: 20px;
}

.accordion-item {
  background: transparent;
  border: 1px solid var(--cm-border-color);
}

.faq-title {
  font-size: 2rem;
  font-weight: bold;
  color: #00b4d8;
}

.faq-subtitle {
  color: #adb5bd;
}

.custom-accordion {
  border: none;
  margin-bottom: 10px;
}

.custom-button {
  border: 1px solid var(--cm-border-color);
  background-color: rgba(255, 255, 255, 0.08);
  color: #e0e1dd;
  font-weight: 500;
  border-radius: 6px;
  transition: all 0.4s ease;
}

.custom-button:hover {
  border: 1px solid var(--primary) !important;
  transform: scaleX(1.01);
}

.custom-body {
  background-color: rgba(255, 255, 255, 0.08);
  color: #e0e1dd;
  border-radius: 0 0 6px 6px;
}

.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.08);
  box-shadow: 0 20px 20px rgba(99, 102, 241, 0.2);

}
