.scroll-progress-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 3px;
  background: linear-gradient(90deg, #5227FF, #FF9FFC, #B497CF, #4079ff);
  z-index: 999;
  transform-origin: left;
  box-shadow: 0 0 10px rgba(99, 102, 241, 0.5);
}
